<!DOCTYPE html>
<html>
<head>
    <title>Add Route</title>
</head>
<body>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
    <h1>Add Route</h1>
    <form method="POST" action="{{ url_for('add_route') }}">
        <label for="number">Number:</label>
        <input type="text" name="number" id="number" required><br>
        <label for="from_location">From:</label>
        <input type="text" name="from_location" id="from_location" required><br>
        <label for="to_location">To:</label>
        <input type="text" name="to_location" id="to_location" required><br>
        <label for="departure_time">Departure Time:</label>
        <input type="text" name="departure_time" id="departure_time" required><br>
        <label for="arrival_time">Arrival Time:</label>
        <input type="text" name="arrival_time" id="arrival_time" required><br>
        <input type="submit" value="Add Route">
    </form>
</body>
</html>
