<!DOCTYPE html>
<html>
<head>
    <title>Edit Routes</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>Edit Routes</h1>
        <form method="POST" action="{{ url_for('update_routes', routes_id=routes['RoutesID']) }}">
            <input type="text" name="Name" value="{{ routes['Name'] }}">
            <input type="submit" value="Save">
        </form>
</body>
</html>
