<!DOCTYPE html>
<html>
<head>
    <title>Список маршрутов</title>
</head>
<body>
    <h1>Список маршрутов</h1>
    <table border="1">
        <tr>
            <th>Routes ID</th>
            <th>Название маршрута</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        {% for rout in routes %}
        <tr>
            <td>{{ rout[0] }}</td>
            <td>{{ rout[1] }}</td>
            <td><a href="{{ url_for('edit_routes', routes_id=rout[0]) }}">Изменить</a></td>
            <td><a href="{{ url_for('delete_routes', routes_id=rout[0]) }}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_routes') }}">Добавить маршрут</a>
</body>
</html>
