<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queries</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>|
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>|
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>|
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <br>
    <a href="{{ url_for('routes_by_date') }}">По дате найти все маршруты и количество автобусов на нём</a><br>
    <a href="{{ url_for('buses_for_route_by_date') }}">По дате и номеру маршрута вся информация об автобусах</a><br>
    <a href="{{ url_for('routes_and_buses_by_month') }}">За месяц подсчитать количество рейсов на маршруте или автобусом</a><br>
    <a href="{{ url_for('shifts_by_employee') }}">За полгода расчитать количество смен кондукторами и водителями</a><br>
</body>
</html>