<!DOCTYPE html>
<html>
<head>
    <title>Добавление сотрудника</title>
</head>
<body>
    <h1>Добавление сотрудника</h1>
    <form method="POST" action="{{ url_for('add_employee') }}">
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name" required><br>

        <label for="secondName">Фамилия:</label>
        <input type="text" name="secondName" id="secondName" required><br>

        <label for="LastName">Отчество:</label>
        <input type="text" name="LastName" id="LastName" required><br>

        <label for="post">Должность:</label>
        <select name="post" id="post">
            {% for post in posts %}
                <option value="{{ post[0] }}">{{ post[1] }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Добавить сотрудника">
    </form>
</body>
</html>
