<!DOCTYPE html>
<html>
<head>
    <title>Edit Employee</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>Edit Employee</h1>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ employee['Name'] }}" required><br>

        <label for="secondName">Second Name:</label>
        <input type="text" id="secondName" name="secondName" value="{{ employee['SecondName'] }}"><br>

        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" value="{{ employee['LastName'] }}" required><br>

        <label for="jobTitle">Job Title:</label>
        <select id="jobTitle" name="jobTitle">
            {% for post in posts %}
                <option value="{{ post[0] }}" {% if post[0] == employee['JobTitleID'] %}selected{% endif %}>{{ post[1] }}</option>
            {% endfor %}
        </select><br>

        <label for="department">Department:</label>
        <select id="department" name="department">
            {% for department in departments %}
                <option value="{{ department[0] }}" {% if department[0] == employee['DepartmentID'] %}selected{% endif %}>{{ department[1] }}</option>
            {% endfor %}
        </select><br>

        <label for="driverCategory">Driver Category:</label>
        <select id="driverCategory" name="driverCategory">
            {% for category in driver_categories %}
                <option value="{{ category[0] }}" {% if category[0] == employee['DriverCategoryID'] %}selected{% endif %}>{{ category[1] }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Update Employee">
    </form>
</body>
</html>
