<!DOCTYPE html>
<html>
<head>
    <title>List Employee</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>Employee List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Second Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
                <th>Driver Category</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee[0] }}</td>
                    <td>{{ employee[1] }}</td>
                    <td>{{ employee[2] }}</td>
                    <td>{{ employee[3] }}</td>
                    <td>{{ employee[4] }}</td>
                    <td>{{ employee[5] }}</td>
                    <td>{{ employee[6] }}</td>
                    <td>
                        <a href="{{ url_for('update_employee', employee_id=employee[0]) }}">Изменить</a>
                        <a href="{{ url_for('delete_employee', employee_id=employee[0]) }}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_employee') }}">Добавить сотрудника</a>
</body>
</html>
