<!DOCTYPE html>
<html>
<head>
    <title>Add JobTitle</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>Add JobTitle</h1>
    <form method="POST" action="{{url_for('add_jobTitle')}}">
         <label for="PostName">Post:</label>
        <input type="text" name="PostName" id="PostName" value="{{jobTitle['PostName']}}"><br>
        <label for="Salary">Salary:</label>
        <input type="text" name="Salary" id="Salary" value="{{jobTitle['Salary']}}"><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>