<!DOCTYPE html>
<html>
<head>
    <title>Редактирование записи</title>
</head>
<body>
    <h1>Редактирование записи</h1>
    <form method="POST" action="{{ url_for('update_jobTitle', jobTitle_id=jobTitle['JobTitleID']) }}">
        <label for="PostName">Должность:</label>
        <input type="text" name="PostName" id="PostName"  value="{{ jobTitle['PostName'] }}"><br>
        <label for="Salary">Оклад:</label>
        <input type="text" name="Salary" id="Salary" value="{{ jobTitle['Salary'] }}"><br>
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>
