<!DOCTYPE html>
<html>
<head>
    <title>List JobTitle</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>List JobTitle</h1>
    <table border="1">
        <tr>
            <th>Post ID</th>
            <th>Post</th>
            <th>Salary</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post[0] }}</td>
            <td>{{ post[1] }}</td>
            <td>{{ post[2] }}</td>
            <td><a href="{{ url_for('update_jobTitle', jobTitle_id=post[0]) }}">Изменить</a></td>
            <td><a href="{{ url_for('delete_jobTitle', jobTitle_id=post[0]) }}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_jobTitle') }}">Добавить новую должность</a>
</body>
</html>
