<!DOCTYPE html>
<html>
<head>
    <title>Add DriverCategory</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>Add DriverCategory</h1>
    <form method="POST" action="{{ url_for('add_driver_category') }}">
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" required><br>

        <input type="submit" value="Добавить категорию">
    </form>
</body>
</html>
