<!DOCTYPE html>
<html>
<head>
    <title>Edit DriverCategory</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>Редактирование категории водителя</h1>
    <form method="POST" action="{{ url_for('update_driver_category', driver_category_id=driver_category['DriverCategoryID']) }}">
        <label for="category">Category:</label>
        <input type="text" name="category" id="category" value="{{ driver_category['Category'] }}" required><br>

        <input type="submit" value="Сохранить изменения">
    </form>
</body>
</html>
