<!DOCTYPE html>
<html>
<head>
    <title>List DriverCategory</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>|
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>|
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>|
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>List DriverCategory</h1>
    <table border="1">
        <tr>
            <th>DriverCategory ID</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        {% for driver_category in driver_categories %}
        <tr>
            <td>{{ driver_category[0] }}</td>
            <td>{{ driver_category[1] }}</td>
            <td>
                <a href="{{ url_for('update_driver_category', driver_category_id=driver_category[0]) }}">Изменить</a>
                <a href="{{ url_for('delete_driver_category', driver_category_id=driver_category[0]) }}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_driver_category') }}">Добавить категорию водителя</a>
</body>
</html>
