<!DOCTYPE html>
<html>
<head>
    <title>Add Bus</title>
    <a href="{{ url_for('main_page') }}">Основная страница</a>
    <a href="{{ url_for('edit_page') }}">Изменение данных</a>
    <a href="{{ url_for('compose_routes') }}">Составление маршрутных листов</a>
    <a href="{{ url_for('queries_page') }}">Запросы</a>
</head>
<body>
    <h1>Add Bus</h1>
    <form method="POST" action="/edit/bus/add">
        <label for="stateNumber">State Number:</label>
        <input type="text" name="stateNumber" id="stateNumber" required><br>

        <label for="vin">VIN:</label>
        <input type="text" name="vin" id="vin" required><br>

        <label for="brand">Brand:</label>
        <select name="brand" id="brand" required>
            {% for brand in brands %}
                <option value="{{ brand[0] }}">{{ brand[1] }}</option>
            {% endfor %}
        </select><br>

        <label for="numOfPeople">Number of People:</label>
        <input type="number" name="numOfPeople" id="numOfPeople" required><br>

        <input type="submit" value="Add Bus">
    </form>
</body>
</html>
